* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.name, .focus, .city {
  cursor: pointer;
  transition: opacity 1.4s;
}

.name:hover, .focus:hover, .city:hover {
  opacity: 0.6;
}

body {
  font-family: 'Quicksand', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100vh;
  background-size: cover;
  color: #fff;
  text-shadow: black 1px 1px 0, black -1px -1px 0, black -1px 1px 0,
  black 1px -1px 0;
  transition: background-image 1.7s ease-in-out;
}

.datee {
  font-size: 5rem;
}

.time {
  font-size: 8rem;
}

h1 {
  margin-bottom: 2.2rem;
}

h2 {
  margin-bottom: 1.5rem;
  opacity: 0.8;
}

.btn {
  position: absolute;
  top: 2%;
  left: 2%;
  width: 60px;
  height: 60px;
  border: 0;
  background: url('./assets/computer-icons5.png');
  background-size: contain;
  background-repeat: no-repeat;
  filter: grayscale(1);
  margin: 10px;
  cursor: pointer;
}
.btn:hover {
  filter: grayscale(0.1);
  transition: all 1s ease-in-out;
  transform: rotate(360deg);
}
.btn:active,
.btn:focus {
  outline: 0;
}
.btn:active {
  transform: scale(1.1);
}

.btn-two {
  position: absolute;
  bottom: 2%;
  left: 2%;
  width: 60px;
  height: 60px;
  border: 0;
  background: url('./assets/computer-icons3.png');
  background-size: contain;
  background-repeat: no-repeat;
  filter: grayscale(0.8);
  margin: 10px;
  cursor: pointer;
}
.btn-two:hover {
  transition: all 1s ease-in-out;
  transform: rotate(360deg);
  filter: grayscale(0);
}
.btn-two:active,
.btn-two:focus {
  outline: 0;
}
.btn-two:active {
  transform: scale(1.1);
}

.quote {
  font: 1.2rem Georgia, serif;
  margin: 0;
  background: #eee;
  background-image: url(./assets/images/dsd.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 0.5em;
  border-radius: 1em;
  text-shadow: #000 1px 1px 0, #000 -1px -1px 0, #000 -1px 1px 0,
    #000 1px -1px 0;
}

.quote figcaption,
.quote blockquote {
  margin: 1em;
}

.quote figcaption {
  text-align: right;
}

.tempo {
  position: absolute;
  right: 4%;
  top: 5%;
}

.city,
.temperature,
.weather-description,
.humidity,
.wind {
  font-size: 1.4rem;
}

.weather-description {
  display: inline-block;
  min-width: 0;
}

.muse {
  display: inline-block;
  min-width: 10px;
}

@media (max-width: 1160px) {
  :root {
    font-size: 15px;
  }
}

@media (max-width: 1100px) {
  :root {
    font-size: 14px;
  }
}

@media (max-width: 1000px) {
  :root {
    font-size: 12px;
  }
  .time {
    font-size: 6rem;
  }
  .datee {
    font-size: 4rem;
  }
  h1 {
    margin-bottom: 15px;
  }
  .btn {
    top: 1%;
    left: 1%;
  }
  .tempo {
    position: static;
    /* right: 0%;
    top: 10%; */
    /* margin-bottom: 15px; */
    /* margin-top: 65px; */
  }
}

@media (max-width: 768px) {
  .time {
    font-size: 5.5rem;
  }
  .datee {
    font-size: 3.5rem;
  }
  .quote figcaption,
  .quote blockquote {
    margin: 0.5em;
  }
  h1 {
    margin-bottom: 12px;
  }
  h2 {
    margin-bottom: 1rem;
    opacity: 0.8;
  }
  .btn {
    margin: 3px;
  }
  .btn-two {
    margin: 3px;
  }
}

@media (max-width: 570px) {
  :root {
    font-size: 12px;
  }
  .time {
    font-size: 5rem;
  }
  .datee {
    font-size: 3rem;
  }
  .btn {
    width: 50px;
    height: 50px;
  }
  .btn-two {
    width: 50px;
    height: 50px;
  }
}

@media (max-width: 468px) {
  .city,
  .temperature,
  .weather-description,
  .humidity,
  .wind {
    font-size: 1.2rem;
  }
  .time {
    font-size: 4rem;
  }
  .datee {
    font-size: 2rem;
  }
  .btn {
    width: 40px;
    height: 40px;
  }
  .btn-two {
    width: 40px;
    height: 40px;
  }
}
